---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import BoxCatalogo from "../components/Box_catalogo.astro";
import Filtro from "../components/Filtro.astro";
---

<Layout title="Catálogo">
    <Header />
    <div class="main-container">
      <div class="filter-container">
        <Filtro />
      </div>
      <div class="card-container">
        <BoxCatalogo />
      </div>
    </div>
</Layout>

<style>
.main-container {
  display: flex;
  width: 100%;
}

.filter-container {
  flex: 0 0 200px; /* Ancho fijo del filtro */
  position: sticky; /* Mantiene el filtro fijo al hacer scroll */
  top: 0; /* Se adhiere al tope de la pantalla */
  height: 100vh; /* Altura completa de la pantalla */
  overflow-y: auto; /* Permitir desplazamiento si el contenido del filtro es largo */
  background-color: #f8f8f8; /* Fondo del filtro */
  border-right: 1px solid #ddd; /* Borde derecho para separación */
}

.card-container {
  flex: 1; /* Ocupa todo el espacio restante */
  display: flex; /* Mostrar tarjetas en línea */
  flex-wrap: wrap; /* Envolver tarjetas si no caben en una línea */
  gap: 1rem; /* Espacio entre tarjetas */
  padding-top: 30px; /* Espaciado superior */
  padding-left: 30px; /* Espaciado interno */
  padding-bottom: 30px;
}


@media (max-width: 768px) {
  .main-container {
    display: block; /* Cambiar a bloque en pantallas pequeñas */
  }

  .filter-container {
    width: 100%; /* Filtro ocupa todo el ancho */
    position: relative; /* Posición relativa para no ser fijo */
    height: auto; /* Altura automática */
  }

}

</style>