<header class="header">
    <div class="logo">
        <img src="/Logo.png" alt="Logo">
    </div>
    <nav>
        <div class="busqueda">
            <img id="lupa" src="Lupa.svg" alt="Lupa" width="15" height="15">
            <input type="text" id="barrabusqueda" placeholder="Buscar">
        </div>
        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>
            <label for="categorias">Categorias</label>
            <select id="categorias" name="categorias" onchange="window.location.href=this.value;">
                <option value="" selected disabled hidden></option>
                <option value="#">Gama alta</option>
                <option value="#">Gama media</option>
                <option value="#">Gama baja</option>
                <option value="#">Empresarial</option>
                <option value="#">Gamer</option>
              </select>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#"><img id="cart" src="/cart.png" alt="carrito" width="20" height="20"></a></li>
            <li><a href="#"><img id="cuenta" src="/user.png" alt="cuenta" width="20" height="20"></a></li>
        </ul>
    </nav>
</header>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    font-family:"Inter", sans-serif;
}
.header{
    display: flex;
    border: 1px solid rgb(197, 195, 195); 
    padding-left: 5%;         
    padding-right: 5%;  
    margin: 0;
    height: 10vh;      
}
.header .logo img{
    height: 75%;
    width: auto;
    margin-top: 15%;
}
.header .nav-links{
    display: flex;
    white-space: nowrap;
    gap: 2vw;
    margin-top: -8vh;
    padding: 3% 85%;
    list-style: none;
    color: rgb(136, 136, 136);
}
.header .nav-links a{
    font-size: 700;
    color: rgb(136, 136, 136);
    text-decoration: none;
}
.header #categorias{
    margin-left: -2vw;
    border: none;
    width: 1.5vw;
    height: 3vh;
    color: rgb(136, 136, 136);
}
.header #categorias a{
    font-size: 700;
    color: rgb(136, 136, 136);
    text-decoration: none;
}
.header #cart{
    margin-left: 3.5vw;
}
.header .busqueda{
    margin-top: 2vh;
    margin-left: 3vw;
}
.header .busqueda input{
    position: relative;
    background-color: rgb(241, 241, 241);
    padding-left: 2.5vw;
    border: none;
    border-radius: 1vh;
    width: 30vw;
    height: 6vh;
    margin-left: -5%;
    color: rgb(136, 136, 136);
    z-index: 1;
}
.header #lupa{
    position: relative;
    z-index: 2;
}
</style>